body {
    background-image: url(http://kmandla.files.wordpress.com/2010/08/2010-08-04-lv-a8280-win2k-arch.jpg);
    background-size: 1600px 725px;
}

#canvas {
    background-color: #fff;
    position: absolute;
    top: 75px;
    right: 555px;
}
font.text1{
    font-family: Courier;  
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}
img.form{
    position: absolute;
    top: 50px;
    right: 550px;
}