body {
    background-image: url(http://winsupersite.com/site-files/winsupersite.com/files/archive/winsupersite.com/content/content/127260/reviews/b2_09.gif);
    background-size: 1600px 800px;
}

#canvas {
    background-color: #fff;
    position: absolute;
    top: 75px;
    right: 555px;
}
font.text1{
    font-family: Courier;  
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}
img.form{
    position: absolute;
    top: 50px;
    right: 550px;
}